"""Scaffold-owned admin wiring for resource-slot booking."""


from django.contrib import admin

from .booking_settings import BookingSettings
from .models import (
    Appointment,
    Master,
    MasterDayOff,
    MasterWorkingDay,
    Service,
    ServiceCategory,
)


class MasterWorkingDayInline(admin.TabularInline[MasterWorkingDay, Master]):
    model = MasterWorkingDay
    extra = 0


class MasterDayOffInline(admin.TabularInline[MasterDayOff, Master]):
    model = MasterDayOff
    extra = 0


@admin.register(ServiceCategory)
class ServiceCategoryAdmin(admin.ModelAdmin[ServiceCategory]):
    list_display = ("name",)
    search_fields = ("name",)


@admin.register(Master)
class MasterAdmin(admin.ModelAdmin[Master]):
    list_display = ("name", "user", "status")
    list_filter = ("status", "categories")
    search_fields = ("name", "user__email")
    inlines = [MasterWorkingDayInline, MasterDayOffInline]


@admin.register(Service)
class ServiceAdmin(admin.ModelAdmin[Service]):
    list_display = ("name", "category", "duration")
    list_filter = ("category",)
    search_fields = ("name",)
    filter_horizontal = ("masters",)


@admin.register(Appointment)
class AppointmentAdmin(admin.ModelAdmin[Appointment]):
    list_display = ("client", "master", "service", "datetime_start", "status")
    list_filter = ("status", "master")
    search_fields = ("client__email", "master__name")
    date_hierarchy = "datetime_start"
    readonly_fields = ("datetime_start", "duration_minutes")


@admin.register(BookingSettings)
class BookingSettingsAdmin(admin.ModelAdmin[BookingSettings]):
    fieldsets = [
        (
            "Resource Slot Grid",
            {
                "fields": [
                    "step_minutes",
                    "default_buffer_between_minutes",
                    "min_advance_minutes",
                    "max_advance_days",
                ]
            },
        ),
        (
            "Default Resource Working Hours",
            {
                "fields": [
                    "work_start_weekdays",
                    "work_end_weekdays",
                    "work_start_saturday",
                    "work_end_saturday",
                ]
            },
        ),
    ]

