from .seo import StaticPageSeo
from .settings import SiteSettings
from .static import StaticTranslation
{%- if with_booking %}
from .booking_settings import BookingSettings
{%- endif %}

__all__ = [
    "SiteSettings",
    "StaticTranslation",
    "StaticPageSeo",
{%- if with_booking %}
    "BookingSettings",
{%- endif %}
]
