from codex_django.system.mixins import AbstractStaticTranslation
{%- if enable_i18n %}
from django.utils.translation import gettext_lazy as _
{%- else %}
def _(message: str) -> str:
    return message
{%- endif %}


class StaticTranslation(AbstractStaticTranslation):
    """
    Concrete model for static page content/translations.
    Used by context_processor to provide content in templates.
    """

    class Meta(AbstractStaticTranslation.Meta):
        verbose_name = _("Статический перевод")
        verbose_name_plural = _("Статические переводы")
