User-agent: *
Allow: /
Allow: /llms.txt

Disallow: /admin/
Disallow: /api/
Disallow: /static/

Sitemap: {% if site_settings is defined and site_settings.site_base_url is defined %}{{ site_settings.site_base_url }}{% else %}http://localhost:8000/{% endif %}sitemap.xml
