"""
Cabinet Users Selector
======================
Точка входа для данных пользователей. Заменяй mock на реальный ORM по мере готовности.
"""
from __future__ import annotations

from django.http import HttpRequest

from ..mock import CabinetMockData, MockClient, MockQuerySet


def get_users_list(request: HttpRequest) -> MockQuerySet:
    # TODO: заменить на реальный ORM
    # from myapp.models import User
    # return User.objects.filter(is_active=True).order_by("-date_joined")
    return CabinetMockData.get_clients_list()


def get_user(request: HttpRequest, pk: int) -> MockClient | None:
    # TODO: заменить на реальный ORM
    # from django.shortcuts import get_object_or_404
    # from myapp.models import User
    # return get_object_or_404(User, pk=pk)
    return CabinetMockData.get_client(pk)
