from .seo import StaticPageSeoAdmin
from .settings import SiteSettingsAdmin
from .static import StaticTranslationAdmin
{%- if with_booking %}
from .booking_settings import BookingSettingsAdmin
{%- endif %}

__all__ = [
    "SiteSettingsAdmin",
    "StaticTranslationAdmin",
    "StaticPageSeoAdmin",
{%- if with_booking %}
    "BookingSettingsAdmin",
{%- endif %}
]
