from django.contrib.auth.decorators import login_required
from django.http import HttpRequest, HttpResponse
from django.shortcuts import render

from ..selector import users as sel


@login_required
def users_list_view(request: HttpRequest) -> HttpResponse:
    users = sel.get_users_list(request)
    return render(request, "cabinet/users/index.html", {"users": users})


@login_required
def user_detail_view(request: HttpRequest, pk: int) -> HttpResponse:
    user = sel.get_user(request, pk)
    return render(request, "cabinet/users/detail.html", {"user": user})
