from codex_django.booking.mixins import AbstractBookingSettings


class BookingSettings(AbstractBookingSettings):
    class Meta:
        verbose_name = "Booking Settings"
        verbose_name_plural = "Booking Settings"
