# ═══════════════════════════════════════════
# Application definition
# ═══════════════════════════════════════════

DJANGO_APPS = [
    "django.contrib.admin",
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.messages",
    "django.contrib.staticfiles",
    "django.contrib.sitemaps",
]

THIRD_PARTY_APPS = [
    # Auth
    "allauth",
    "allauth.account",
    "allauth.socialaccount",
    "allauth.socialaccount.providers.google",
    # Admin
    "unfold",
    "unfold.contrib.filters",
    "unfold.contrib.forms",
    "unfold.contrib.inlines",
    "unfold.contrib.import_export",
    "unfold.contrib.guardian",
    "unfold.contrib.simple_history",
    "django_prometheus",
    "ninja",
]

{%- if enable_i18n %}
THIRD_PARTY_APPS.insert(0, "modeltranslation")
{%- endif %}

# ═══════════════════════════════════════════
# Codex Library Apps
# ═══════════════════════════════════════════
CODEX_APPS = [
    "codex_django.cabinet",
    "codex_django.showcase",
]

# ═══════════════════════════════════════════
# Codex Library Settings
# ═══════════════════════════════════════════
CODEX_SITE_SETTINGS_MODEL = "system.SiteSettings"
{%- if enable_i18n %}
CODEX_STATIC_TRANSLATION_MODEL = "system.StaticTranslation"
{%- endif %}
CODEX_STATIC_PAGE_SEO_MODEL = "system.StaticPageSeo"

LOCAL_APPS = [
    "core",
    "system",
    "cabinet",
    "features.main",
{%- if with_booking %}
    "booking",
{%- endif %}
]

INSTALLED_APPS = CODEX_APPS + THIRD_PARTY_APPS + DJANGO_APPS + LOCAL_APPS
